<div class="turbine ui left fluid labeled icon input filter-search-box" style="min-width:38em">
    <div class="js-main-select ui fluid scrolling dropdown label" style="width:14em">
        <input type="hidden"/>
        <div class="text"></div>
        <i class="dropdown icon"></i>
        <div class="menu">
        </div>
    </div>

    <div class="search-box-wrap">
        <input class="js-search-box" type="text" placeholder="Search...">
        <i class="search icon"></i>
    </div>


    <div class="js-tag-select ui fluid multiple selection dropdown" style="border-top-left-radius:0;border-bottom-left-radius:0;">
        <input type="hidden"/>
        <div class="default text"></div>
        <div class="menu"></div>
    </div>

</div>

