<div class="segContainer">
	<div class="row">
		<div class="dropdown">ADVERTISER</div>
		<div class="searchBox small">
			<input type="text" class="searchField" placeholder="Search for Activity" data-input-type="searchBox"/>
		</div>
	</div>
	
	<div class="row">
		<div class="searchBox">
			<input type="text" class="searchField" placeholder="Search for Activity" data-input-type="searchBox"/>
		</div>
	</div>
	
	<div class="row">
		<div class="label"><div>Dino Mites </div><div>(<span>27</span>)</div></div>
		<div class="dropdown">SORT BY DATE</div>
	</div>
	
	<div class="row tabsBg">
		<div class="tabs">LOOKALIKES (<span>17</span>)</div>
		<div class="tabs selected">FEEDBACK (<span>10</span>)</div>
		<div class="tabs">All (<span>22</span>)</div>
	</div>
	
	<div class="scrollableArea">
		<ul class="data_list"></ul>
	</div>
</div>



	

	