<!DOCTYPE html>
<html>
    <head>
    	<meta charset="UTF-8">
        <title>Segment Builder Component</title>
        <link href="../../css/global.css" rel="stylesheet"/>
        <link href="../../css/button.css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="../../css/jquery.tagsinput.css"/>
        <link rel="stylesheet" type="text/css" href="../../css/MultiSelect.css">
        <script data-main="app" src="../../js/lib/require.js"></script>
    </head>
    <body>
        <div id="content"></div>
    </body>
</html>