<!DOCTYPE html>
<html>
    <head>
    	<meta charset="UTF-8">
        <title>Drill down pie Component</title>
         <link href="../../css/semantic-ui/semantic.min.css" rel="stylesheet" type="text/css"/>
         <link rel="stylesheet" type="text/css" href="../../css/bootstrap.css"> 
         <link rel="stylesheet" type="text/css" href="../../css/bootstrap-select.css">
        <link href="../../css/global.css" rel="stylesheet"/>
        <link href="../../css/button.css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="../../css/segmentBuilder.css">
        <script data-main="app" src="../../js/lib/require.js"></script>
    </head>
    <body>
        <div id="content"></div>
    </body>
</html>