<!DOCTYPE html>
<html>
    <head>
    	<meta charset="UTF-8">
        <title>Drill down pie Component</title>
        <link href="../../css/global.css" rel="stylesheet"/>
        <link href="../../css/button.css" rel="stylesheet"/>
        <link href="../../css/semantic-ui/semantic.min.css" rel="stylesheet"/>
        <link href="../../css/bootstrap.css" rel="stylesheet"/>
        <link href="../../css/overlayWithSections.css" rel="stylesheet" >
        <script data-main="app" src="../../js/lib/require.js"></script>
    </head>
    <body>
        <div id="content">
        	
        </div>
    </body>
</html>